@import "tailwindcss";

body {
  background-color: #f1f3f4;
}

@theme {
  --color-primary: #1a48ff;
  --color-secondary: #e3e6e9;
  --color-white: #ffffff;
  --color-black: #000000;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .text-black {
    color: var(--color-black);
  }

  .text-white {
    color: var(--color-white);
  }
}
